<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="conteudo">
    <div class="left-side">
      <img src="https://i.pinimg.com/736x/74/f7/7c/74f77c0410f3aa6be79bda7976e0ed8e.jpg" alt="Minha foto" class="foto-perfil">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 982 239"
        fill="none"
        class="angular-logo"
      >

      </svg>
    </div>
    <div class="divider"></div>
    <div class="left-side">
      <h1>Vinicius Ribeiro</h1>
      <p>Desenvolvedor Web</p>

      <div class="pill-group">
        <br>
        <span class="pill">PHP</span>
        <span class="pill">HTML</span>
        <span class="pill">CSS</span>
        <span class="pill">JavaScript</span>


      </div>
<br>
<br>
      <div class="redes-sociais">
        <a href="https://github.com/vivinivinicius">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.797 8.207 11.387.6.11.793-.26.793-.577 0-.284-.01-1.228-.015-2.226-3.348.727-4.05-1.498-4.05-1.498-.546-1.387-1.333-1.755-1.333-1.755-1.088-.74.082-.725.082-.725 1.203.085 1.837 1.236 1.837 1.236 1.07 1.836 2.806 1.305 3.492.998.108-.78.417-1.31.76-1.61-2.665-.305-5.466-1.332-5.466-5.93 0-1.312.465-2.383 1.235-3.224-.135-.306-.54-1.528.105-3.184 0 0 1.008-.323 3.3 1.232a11.572 11.572 0 013.006-.402c1.02.003 2.046.137 3.006.402 2.29-1.555 3.297-1.232 3.297-1.232.647 1.656.24 2.878.12 3.184.765.84 1.235 1.912 1.235 3.224 0 4.61-2.805 5.623-5.478 5.92.43.37.81 1.102.81 2.22 0 1.605-.015 2.896-.015 3.289 0 .32.192.694.8.573C20.565 21.792 24 17.298 24 12c0-6.627-5.373-12-12-12z" />
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/vinicius-ribeiro-5246342b6/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" d="M21.094 0H2.906C1.306 0 0 1.306 0 2.906v18.188C0 22.694 1.306 24 2.906 24H21.09c1.6 0 2.91-1.306 2.91-2.906V2.906C24 1.306 22.694 0 21.094 0zM7.906 20.582H4.773V9.16h3.133v11.422zm-1.566-13.29a1.873 1.873 0 11-.001-3.746 1.873 1.873 0 010 3.746zm13.378 13.29h-3.132v-5.981c0-1.42-.028-3.25-1.975-3.25-1.975 0-2.275 1.544-2.275 3.138v6.093h-3.133V9.16h3.023v1.666h.041c.42-.798 1.45-1.635 2.983-1.635 3.195 0 3.781 2.1 3.781 4.841v5.55z"/>
          </svg>
        </a>


      </div>
    </div>
  </div>

  <div class="left-side">
    <div class="experiencia">
      <h2>Experiência Profissional:</h2>
      <ul>
        <li>
          <h3>Desenvolvedor Web Júnior - Empresa Senior Mega</h3>
          <p>Desenvolvendo projetos utilizando HTML, CSS, Javascript e Banco de dados mySQL</p>
        </li>
      </ul>
    </div>

    <div class="educacao">
      <div class="separador"></div>
<div class="section"></div>
      <h2>Educação:</h2>
      <ul>
        <li>
          <h3>Etec - Ensino Técnico de Desenvolvimento de Sistemas</h3>
          <p>Ano de conclusão: 2023</p>
          <li>
    
          <h3>Fatec - Análise e Desenvolvimento de Sistemas</h3>
          <p>Ano de conclusão: 2026</p>
        </li>
      </ul>
    </div>

    <div class="cursos">
      <div class="separador"></div>
      <div class="section"></div>
      <h2>Cursos Adicionais:</h2>
      <ul>
      <li>
      <h3>T.I Administrativo</h3>
      <p>Ano de conclusão: 2025</p>
        <li>
      <h3>Designer de Games</h3>
      <p>Ano de conclusão: 2018</p>
        <li>
      <h3>Informatica Avançada</h3>
      <p>Ano de conclusão: 2025</p>
    </ul>
    </div>

    <div class="idiomas">
      <div class="separador"></div>
      <div class="section"></div>
      <h2>Idiomas:</h2>
      <ul>
        <li>
      <h3>Inglês</h3>
      <li>
      <h3>Português</h3>

      </ul>


    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
